body{
    background-color: mediumslateblue;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
}

#calculator{
    background-color: rgba(0, 0, 0, 0.815);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 30px;
    border: 2px;
    font-size: 40px;
    text-align: left;
    background-color: rgb(39, 202, 102);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}
button{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: rgb(56, 55, 55);
    color: white;
    font-size: 3rem;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background-color: cadetblue;
}
#btn{
    background-color: orange;
}